.about{
    background-color: #efb758;
    display: flex;
    flex-direction: row;
}
#abt{
    font-size: 30px;
    color: #17395c;
}
.words{
    flex: 0.7;
}
.pic{
    flex: 0.3;
   
}
.head{
    align-items: center;
    justify-content: center;
}